@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="w-1/4 m-auto text-white leading-loose p-4">
    <div>
        <section class="text-center">
            <form id="account" method="post">
                <svg style="width: 15%; height: auto;" viewBox="0 0 24 24" aria-hidden="true" fill="white"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
                <h4 class="font-extrabold text-4xl my-4 text-left">Log in to Twitter</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-8">
                    <input asp-for="Input.Email" class="w-full bg-transparent p-2 py-4 border border-gray-600 rounded-md w-80" placeholder="Email" />
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <div class="mb-4">
                    <input asp-for="Input.Password" class="w-full bg-transparent p-2 py-4 border border-gray-600 rounded-md w-80" placeholder="Password" />
                    <span asp-validation-for="Input.Password"></span>
                </div>
                <div>
                    <div>
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="mb-8">
                    <button type="submit" class="bg-blue-400 w-11/12 mt-5 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Log in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}